<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li>UI Elements</li>
		<li class="active">Panel</li>
	</ol>

	<h1>Communities</h1>
	<div class="options">
        <div class="btn-toolbar">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                    + 
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#/Communities" role="button" ng-click="openCommModal()">Add New Community</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Other Features</a></li>
                </ul>
            </div>
            <div class="btn-group" dropdown>
              <button class="btn btn-default dropdown-toggle" dropdown-toggle> 
                <i class="glyphicon glyphicon-cog"></i>
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Feature 1</a></li>
                  <li><a href="#">Recent Notification</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Other Features</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="commModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Add A New Community</h3>
    </div>
    <form ng-submit="add()">
      <div class="modal-body">
        <div class="form-group">
          <label ng-style="{'width': '100%'}" for="name1">New Community's Name</label>
          <input type="text" ng-model="name" ng-style="{'width': '100%'}" id="name1">
        </div>
        <div class="form-group">
          <label ng-style="{'width': '100%'}" for="community1">Add Existing Things to this Community</label>
          <input type="text" ng-model="community" ng-style="{'width': '100%'}" id="community1">
        </div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-warning" ng-click="close()">Cancel</button>
          <input type="submit" class="btn btn-primary" value="Add">
      </div>
    </form>
</script>




<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-4" ng-drop = "true">
      
      <panel panel-class="panel-toyo" heading="Home" ng-drag="true">
	<p>My Bicycle</p>
	<p>Furnace</p>
	<p>Speaker System</p>
	<p>My iPhone 6</p>
      </panel>
      
      <panel panel-class="panel-toyo" heading="Electronics" ng-drag="true">
	<p>Speaker System</p>
	<p>My iPhone 6</p>
      </panel>
      

    </div><!-- end div class "col-md-4" (first column of panels) -->
    <div class = "col-md-4" ng-drop = "true">

      <panel panel-class="panel-toyo" heading="Transportation" ng-drag="true">
	<p>My Bicycle</p>
      </panel>

    </div><!-- end div class "col-md-4" (second column of panels) -->
    <div class = "col-md-4" ng-drop = "true">
      
      <panel panel-class="panel-toyo" heading="Valuables" ng-drag="true">
	<p>My Bicycle</p>
	<p>Speaker System</p>
	<p>My iPhone 6</p>
      </panel>

    </div><!-- end div class "col-md-4" (third column of panels) -->
  
  </div><!-- end div class "row" -->
</div><!-- end div class "container-fluid" -->

