<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li>UI Elements</li>
		<li class="active">Panel</li>
	</ol>

	<h1>Things</h1>
	<div class="options">
        <div class="btn-toolbar">
        	<button type="button" class="btn btn-default" ng-click="openAddModal()">
                    + 
                </button>
            
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                    <i class="glyphicon glyphicon-cog"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Creation Date</a></li>
                  <li><a href="#">Recent Notification</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</div>

<script type="text/ng-template" id="addModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Add A New Thing</h3>
    </div>
    <form>
    	<div class="modal-body">
    		<div class="form-group">
    			<label ng-style="{'width': '100%'}" for="name1">New Thing's Name</label>
    			<input type="text" ng-model="name" ng-style="{'width': '100%'}" id="name1">
    		</div>
    		<div class="form-group">
    			<label ng-style="{'width': '100%'}" for="community1">Add to a Community</label>
    			<input type="text" ng-model="community" ng-style="{'width': '100%'}" id="community1">
    		</div>
    	</div>
    	<div class="modal-footer">
        	<button class="btn btn-warning" ng-click="close()">Cancel</button>
        	<input type="submit" class="btn btn-primary" value="Add" ng-click="add()">
    	</div>
    </form>
</script>



<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-4" ng-drop = "true"><!-- 0 for column 0, 3 total columns -->
      
      <tabset  panel-tabs="true" panel-class="panel-inverse" heading={{thing.name}} ng-drag="true" ng-repeat="thing in things | splitIntoColumns:0:3">
	       <tab heading="Info">
            <p>ECI: {{thing.eci}}</p>
            <p>More info: ...</p>
	       </tab>
	       <tab heading="Communities">
	         <p>Home</p>
	         <p>Transportation</p>
	         <p>Valuables</p>
	       </tab>
         <panel-controls>
              <button class="button-icon" ng-click="deleteThing(thing.name)"><i class="glyphicon glyphicon-trash"></i></button>
              <panel-control-colors></panel-control-colors> 
              <panel-control-collapse></panel-control-collapse>
         </panel-controls>
      </tabset>

    </div><!-- end div class "col-md-4" (first column of panels) -->

    <div class = "col-md-4" ng-drop = "true">
      <tabset  panel-tabs="true" panel-class="panel-inverse" heading={{thing.name}} ng-drag="true"  ng-repeat="thing in things | splitIntoColumns:1:3">
         <tab heading="Info">
            <p>ECI: {{thing.eci}}</p>
            <p>More info: ...</p>
         </tab>
         <tab heading="Communities">
           <p>Home</p>
           <p>Transportation</p>
           <p>Valuables</p>
         </tab>
         <panel-controls>
              <button class="button-icon" ng-click="deleteThing(thing.name)"><i class="glyphicon glyphicon-trash"></i></button>
              <panel-control-colors></panel-control-colors> 
              <panel-control-collapse></panel-control-collapse>
         </panel-controls>
      </tabset>
    </div>

    <div class = "col-md-4" ng-drop = "true">
      <tabset  panel-tabs="true" panel-class="panel-inverse" heading={{thing.name}} ng-drag="true"  ng-repeat="thing in things | splitIntoColumns:2:3">
         <tab heading="Info">
            <p>ECI: {{thing.eci}}</p>
            <p>More info: ...</p>
         </tab>
         <tab heading="Communities">
           <p>Home</p>
           <p>Transportation</p>
           <p>Valuables</p>
         </tab>
         <panel-controls>
              <button class="button-icon" ng-click="deleteThing(thing.name)"><i class="glyphicon glyphicon-trash"></i></button>
              <panel-control-colors></panel-control-colors> 
              <panel-control-collapse></panel-control-collapse>
         </panel-controls>
      </tabset>
    </div>
  </div><!-- end div class "row" -->
</div><!-- end div class "container-fluid" -->

<script type="text/ng-template" id="demoModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">This is a modal!</h3>
    </div>
    <div class="modal-body">
    	Modal content goes here
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="close()">Cancel</button>
    </div>
</script>
