<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li>UI Elements</li>
		<li class="active">Panel</li>
	</ol>

	<h1>Societies</h1>
	<div class="options">
        <div class="btn-toolbar">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                    Sort by <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Creation Date</a></li>
                  <li><a href="#">Recent Notification</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div>
</div>






<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-4" ng-drop = "true">
      
      <panel panel-class="panel-toyo" heading="Home" ng-drag="true">
	<p>My Bicycle</p>
	<p>Furnace</p>
	<p>Speaker System</p>
	<p>My iPhone 6</p>
      </panel>
      
      <panel panel-class="panel-toyo" heading="Electronics" ng-drag="true">
	<p>Speaker System</p>
	<p>My iPhone 6</p>
      </panel>
      

    </div><!-- end div class "col-md-4" (first column of panels) -->
    <div class = "col-md-4" ng-drop = "true">

      <panel panel-class="panel-toyo" heading="Transportation" ng-drag="true">
	<p>My Bicycle</p>
      </panel>

    </div><!-- end div class "col-md-4" (second column of panels) -->
    <div class = "col-md-4" ng-drop = "true">
      
      <panel panel-class="panel-toyo" heading="Valuables" ng-drag="true">
	<p>My Bicycle</p>
	<p>Speaker System</p>
	<p>My iPhone 6</p>
      </panel>

    </div><!-- end div class "col-md-4" (third column of panels) -->
  
  </div><!-- end div class "row" -->
</div><!-- end div class "container-fluid" -->

